<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f57122b-7368-4f35-8685-37e8f92dfe35" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6f541086-8e68-4fcd-9c90-5e50c9f4102a">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>