<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0aac7d2c-afb4-4596-8c72-0030f34966d1" Alias="experience" Level="1">
  <Info>
    <Name>Experience</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="44995436-3fe5-4748-8b0c-05e5d1cf0b0c">baseSection</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00c2ee5b-c088-4e87-b578-a1dd66a5803b</Key>
      <Name>Werkervaring</Name>
      <Alias>workExperienceList</Alias>
      <Definition>bd9cbfb2-5e1c-4ac0-8eb1-681c38e1ee0d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ervaringen">Ervaringen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bfb8e8d2-6ef5-4097-8176-5a69028a6eec</Key>
      <Caption>Ervaringen</Caption>
      <Alias>ervaringen</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>