<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d265b68d-dab6-47f5-8de2-6952b8f31a0e" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="44995436-3fe5-4748-8b0c-05e5d1cf0b0c">baseSection</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c2f8f-6926-7f85-8e75-e7719588f726">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7a8a8c36-6c61-4412-8b81-f37612b29aea" SortOrder="0">sections</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c35e1cfa-e869-4776-b21d-4e4a7f5fc9c1</Key>
      <Name>Contact</Name>
      <Alias>contactButtonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="knoppen">Knoppen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c0e0909-383e-4ca4-b04c-d99e931d6bd3</Key>
      <Name>CV uploaden</Name>
      <Alias>cvUploaden</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="knoppen">Knoppen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>821a1660-fa1d-4081-99c3-7551d2706ab1</Key>
      <Name>Expertise</Name>
      <Alias>expertise</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b74f9bda-f8fd-4b25-bb61-ffb5843cde17</Key>
      <Name>Introductie</Name>
      <Alias>introductionText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>258568f5-999d-494f-b185-e6825698c78b</Key>
      <Name>CV tekst</Name>
      <Alias>resume</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="knoppen">Knoppen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>baa09193-ea18-471e-a512-613af60553e5</Key>
      <Caption>Knoppen</Caption>
      <Alias>knoppen</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>deb00061-b27c-40b6-b3ff-959a17f581e1</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>