<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c697b386-a092-464a-81cb-485b2883f75e" Alias="projectsOverview" Level="1">
  <Info>
    <Name>Projects Overview</Name>
    <Icon>icon-thumbnail-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ProjectsOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="28a86132-719c-41b2-a65f-29d90b4f4144">ProjectsOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da1d5aa6-144f-4ed7-bae1-a1a8e20c6fe7" SortOrder="0">projectDetails</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>