<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="62d59c11-b79d-4848-933a-d3da1d4bce37" Alias="projects" Level="1">
  <Info>
    <Name>Projects</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>projects</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2b955c41-9797-4028-afb5-7f3371a5e763">projects</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5f17be9e-df1f-4a03-a248-42dd53dbb2e8</Key>
      <Name>Project List</Name>
      <Alias>projectList</Alias>
      <Definition>3316074b-92b5-4a5c-8fc6-b8389624aad5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blockList">BlockList</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>db7c41b1-bcd2-4e1c-ab62-3ce5abaa8e76</Key>
      <Caption>BlockList</Caption>
      <Alias>blockList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>