<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a8a8c36-6c61-4412-8b81-f37612b29aea" Alias="sections" Level="1">
  <Info>
    <Name>Sections</Name>
    <Icon>icon-layout-grid</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="62d59c11-b79d-4848-933a-d3da1d4bce37" SortOrder="0">projects</ContentType>
    <ContentType Key="0aac7d2c-afb4-4596-8c72-0030f34966d1" SortOrder="1">experience</ContentType>
    <ContentType Key="8df3cb72-4b89-47bb-b290-d6d0f7979fa2" SortOrder="2">aboutMe</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>