<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2230a4d-d62a-492e-8c79-2ec20e4a7d62" Alias="skills" Level="1">
  <Info>
    <Name>Skills</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Skills</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d0a0120f-92db-4317-b6bd-501b1c960972">Skills</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>