<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b940eeb-9716-4fcb-a1eb-5314beaa582e" Alias="chris-pf2.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chrisPf2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-06T11:15:16</CreateDate>
    <NodeName Default="chris-pf2.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mtcnfhl5/chris-pf2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>