<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c159c92-b7e4-4116-b7e4-5eece4cc1c31" Alias="chris2_500x500.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chris2_500x500webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-08T11:02:14</CreateDate>
    <NodeName Default="chris2_500x500.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dvlfh4un/chris2_500x500.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>