<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bdde086-6580-4d21-a74b-014d36fd3f16" Alias="chris.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chriswebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-06T20:14:31</CreateDate>
    <NodeName Default="chris.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bevjwppj/chris.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>