<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f3adfc6-3f83-463f-b77c-8c47876a2f40" Alias="CV Chris van Tiggelen.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CVChrisVanTiggelenpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-02-06T20:50:39</CreateDate>
    <NodeName Default="CV Chris van Tiggelen.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cyope0qb/cv-chris-van-tiggelen.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>