<?xml version="1.0" encoding="utf-8"?>
<Media Key="33c4d606-3048-4476-bf64-a0e1d09b7343" Alias="umbraco-brands-solid-full.svg" Level="2">
  <Info>
    <Parent Key="a0694dba-f3a3-4d3b-8d11-85ee4f827d08">icons</Parent>
    <Path>/icons/umbracoBrandsSolidFullsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-08T11:52:58</CreateDate>
    <NodeName Default="umbraco-brands-solid-full.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4rvhnukt/umbraco-brands-solid-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>