<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9ccbd13-a4da-46a5-89ee-73f43fbf0266" Alias="AboutMe - Technologie ervaring - Multiple Text String" Level="1">
  <Info>
    <Name>AboutMe - Technologie ervaring - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>