<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2712a677-2c66-4d45-bce3-09571309c2bf" Alias="AboutMe -  - Multiple Text String" Level="1">
  <Info>
    <Name>AboutMe -  - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>