<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd9cbfb2-5e1c-4ac0-8eb1-681c38e1ee0d" Alias="Experience - Werkervaring - Block List" Level="1">
  <Info>
    <Name>Experience - Werkervaring - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "label": "{=companyName}"
    }
  ]
}]]></Config>
</DataType>