<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dbd35a4-dde2-4422-afb2-95b3e055b494" Alias="ExperienceItem - Eind datum - Date Only" Level="1">
  <Info>
    <Name>ExperienceItem - Eind datum - Date Only</Name>
    <EditorAlias>Umbraco.DateOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateOnlyPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>