<?xml version="1.0" encoding="utf-8"?>
<DataType Key="272216cb-8fde-4499-bc6f-f838ac972c70" Alias="Home -  - Multiple Text String" Level="1">
  <Info>
    <Name>Home -  - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>