<?xml version="1.0" encoding="utf-8"?>
<DataType Key="921afa54-5331-4cac-85af-f14c6757d608" Alias="Project -  - Multiple Text String" Level="1">
  <Info>
    <Name>Project -  - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>