<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3316074b-92b5-4a5c-8fc6-b8389624aad5" Alias="Projects - Project List - Block List" Level="1">
  <Info>
    <Name>Projects - Project List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0e66c6a6-027c-402c-a643-30bf60d1b62c",
      "label": "{=projectName}"
    }
  ]
}]]></Config>
</DataType>