<?xml version="1.0" encoding="utf-8"?>
<Content Key="870b7403-80cb-4956-9ad7-9412ce643f6c" Alias="About" Level="2">
  <Info>
    <Parent Key="64a4406f-4e69-4edf-8783-e7be14713420">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2025-12-07T12:07:37</CreateDate>
    <NodeName Default="About">
      <Name Culture="en-US">About</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="b71b032e-754b-47bd-8796-228d153a6056">About</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "7f12bd33-4087-42b8-89c9-cb525380555a",
    "mediaKey": "01c72ed8-556a-4bab-a96f-adf13ed62e4f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <introText>
      <Value><![CDATA[{
  "blocks": null,
  "markup": "\u003Cp\u003EMet een achtergrond in grafisch ontwerp en een passie voor techniek heb ik me ontwikkeld tot een leergierige en doelgerichte web developer. Ik combineer creatief denken met technische kennis om gebruiksvriendelijke en degelijke oplossingen te bouwen. Ik werk graag samen, denk mee en blijf mezelf uitdagen met nieuwe technologie\u00EBn.\u003C/p\u003E"
}]]></Value>
    </introText>
    <title>
      <Value><![CDATA[Over mij]]></Value>
    </title>
  </Properties>
</Content>