<?xml version="1.0" encoding="utf-8"?>
<Content Key="3344780e-4349-4ac4-a8cd-ef868b01f567" Alias="Ervaring" Level="3">
  <Info>
    <Parent Key="3b8baa01-65ae-495f-ae8a-f44dc2411817">Secties</Parent>
    <Path>/Home/Secties/Ervaring</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2026-02-06T19:57:55</CreateDate>
    <NodeName Default="Ervaring" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <sectionDescription>
      <Value><![CDATA[]]></Value>
    </sectionDescription>
    <sectionTitle>
      <Value><![CDATA[Ervaring]]></Value>
    </sectionTitle>
    <workExperienceList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "key": "be2ec5d8-36df-4a16-bca4-59bbedfbe54d",
      "udi": null,
      "values": [
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tambien"
        },
        {
          "alias": "jobTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Web Developer"
        },
        {
          "alias": "startDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-12-01T00:00:00"
        },
        {
          "alias": "currentWork",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Heden"
        }
      ]
    },
    {
      "contentTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "key": "c923dd50-1389-44e0-bbff-e63d0181f43d",
      "udi": null,
      "values": [
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Euphoria Mobility"
        },
        {
          "alias": "jobTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Stagiair - Software Developer"
        },
        {
          "alias": "startDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-02-10T00:00:00"
        },
        {
          "alias": "endDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-07-09T00:00:00"
        }
      ]
    },
    {
      "contentTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "key": "4af692b3-3cf1-4950-a1ea-fd445f17320c",
      "udi": null,
      "values": [
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "MB-Ontdekt"
        },
        {
          "alias": "jobTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Software Developer"
        },
        {
          "alias": "startDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024-09-03T00:00:00"
        },
        {
          "alias": "endDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-01-17T00:00:00"
        }
      ]
    },
    {
      "contentTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "key": "6a05bb0e-86b6-4c96-9955-338a269f7a61",
      "udi": null,
      "values": [
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Indicia"
        },
        {
          "alias": "jobTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Groepsproject school"
        },
        {
          "alias": "startDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024-02-19T00:00:00"
        },
        {
          "alias": "endDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024-06-20T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "be2ec5d8-36df-4a16-bca4-59bbedfbe54d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c923dd50-1389-44e0-bbff-e63d0181f43d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4af692b3-3cf1-4950-a1ea-fd445f17320c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a05bb0e-86b6-4c96-9955-338a269f7a61",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "be2ec5d8-36df-4a16-bca4-59bbedfbe54d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c923dd50-1389-44e0-bbff-e63d0181f43d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4af692b3-3cf1-4950-a1ea-fd445f17320c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6a05bb0e-86b6-4c96-9955-338a269f7a61",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </workExperienceList>
  </Properties>
</Content>