<?xml version="1.0" encoding="utf-8"?>
<Content Key="3344780e-4349-4ac4-a8cd-ef868b01f567" Alias="Ervaring" Level="3">
  <Info>
    <Parent Key="3b8baa01-65ae-495f-ae8a-f44dc2411817">Secties</Parent>
    <Path>/Home/Secties/Ervaring</Path>
    <Trashed>false</Trashed>
    <ContentType>experience</ContentType>
    <CreateDate>2026-02-06T19:57:55</CreateDate>
    <NodeName Default="Ervaring" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <sectionDescription>
      <Value><![CDATA[]]></Value>
    </sectionDescription>
    <sectionSubTitle>
      <Value><![CDATA[Mijn ervaring als developer]]></Value>
    </sectionSubTitle>
    <sectionTitle>
      <Value><![CDATA[Ervaring]]></Value>
    </sectionTitle>
    <workExperienceList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "key": "7a89b12c-7615-4c2c-aaaa-281d4d91e6ce",
      "values": [
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tambien"
        },
        {
          "alias": "experienceShortDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Huidige baan"
        },
        {
          "alias": "jobTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Web Developer bij Tambien"
        },
        {
          "alias": "startDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025 dec"
        },
        {
          "alias": "currentWork",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Heden"
        },
        {
          "alias": "workDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBuilding structured websites with reusable components, clean styling and a strong eye for the editor experience behind the scenes.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "key": "16b59c0c-3176-49e9-bdcd-324e8cda20f7",
      "values": [
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Euphoria Mobility"
        },
        {
          "alias": "experienceShortDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Afstudeerstage"
        },
        {
          "alias": "jobTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Software Developer bij Euphoria Mobility"
        },
        {
          "alias": "startDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025 feb"
        },
        {
          "alias": "endDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025 jun"
        },
        {
          "alias": "workDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETurning design concepts into responsive interfaces and paying close attention to spacing, hierarchy, states and usability across devices.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8a347953-661d-4698-afa6-021dbb6585e3",
      "key": "e0530f99-5a89-4bb1-bcb9-36ea073a8ee7",
      "values": [
        {
          "alias": "workDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EA visual background taught me to communicate clearly, shape stronger concepts and look at websites as complete experiences instead of isolated pages.\u003C/p\u003E"
          }
        },
        {
          "alias": "companyName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fontys ICT"
        },
        {
          "alias": "experienceShortDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Studie"
        },
        {
          "alias": "jobTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Software Engineering bij Fontys ICT"
        },
        {
          "alias": "startDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "endDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7a89b12c-7615-4c2c-aaaa-281d4d91e6ce",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "16b59c0c-3176-49e9-bdcd-324e8cda20f7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e0530f99-5a89-4bb1-bcb9-36ea073a8ee7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7a89b12c-7615-4c2c-aaaa-281d4d91e6ce",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "16b59c0c-3176-49e9-bdcd-324e8cda20f7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e0530f99-5a89-4bb1-bcb9-36ea073a8ee7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </workExperienceList>
  </Properties>
</Content>