<?xml version="1.0" encoding="utf-8"?>
<Content Key="64a4406f-4e69-4edf-8783-e7be14713420" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-06T11:15:25</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="a09091ac-aad8-495d-bf64-296470e0dacf">Home</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Met een achtergrond in grafisch ontwerp en een passie voor techniek heb ik me
ontwikkeld tot een leergierige en doelgerichte web developer. Ik combineer creatief
denken met technische kennis om gebruiksvriendelijke en degelijke oplossingen te
bouwen. Ik werk graag samen, denk mee en blijf mezelf uitdagen met nieuwe
technologieën.]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "7cf94b83-b36e-450a-aa8d-1bd3e28b3372",
    "mediaKey": "2b940eeb-9716-4fcb-a1eb-5314beaa582e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Hallo, ik ben Chris]]></Value>
    </title>
  </Properties>
</Content>