<?xml version="1.0" encoding="utf-8"?>
<Content Key="ede5ad7c-383d-4ce2-867c-98b90024fd06" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-05T20:52:43</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
      <Name Culture="nl-NL">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c2f8f-6926-7f85-8e75-e7719588f726">Home</Template>
  </Info>
  <Properties>
    <contactButtonText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Neem contact op]]></Value>
    </contactButtonText>
    <cvUploaden>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[/media/owsoxyid/cv-chris-van-tiggelen.pdf]]></Value>
    </cvUploaden>
    <expertise>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Web Developer]]></Value>
    </expertise>
    <introductionText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Hoi! Mijn naam is]]></Value>
    </introductionText>
    <resume>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[CV]]></Value>
    </resume>
    <sectionDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMet een achtergrond in grafisch ontwerp en een passie voor techniek heb ik me ontwikkeld tot een leergierige en doelgerichte web developer. Ik combineer creatief denken met technische kennis om gebruiksvriendelijke en degelijke oplossingen te bouwen. Ik werk graag samen, denk mee en blijf mezelf uitdagen met nieuwe technologie\u00EBn.\u003C/p\u003E"
}]]></Value>
    </sectionDescription>
    <sectionTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Chris van Tiggelen.]]></Value>
    </sectionTitle>
  </Properties>
</Content>