<?xml version="1.0" encoding="utf-8"?>
<Content Key="ede5ad7c-383d-4ce2-867c-98b90024fd06" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-05T20:52:43</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
      <Name Culture="nl-NL">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c2f8f-6926-7f85-8e75-e7719588f726">Home</Template>
  </Info>
  <Properties>
    <contactButtonText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Neem contact op]]></Value>
    </contactButtonText>
    <heroButtonAboutMeText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Over mij]]></Value>
    </heroButtonAboutMeText>
    <heroButtonProjectsText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Bekijk projecten]]></Value>
    </heroButtonProjectsText>
    <heroDescriptionText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Met een achtergrond in grafisch ontwerp en een passie voor techniek heb ik me ontwikkeld tot een leergierige en doelgerichte web developer. Ik combineer creatief denken met technische kennis om gebruiksvriendelijke en degelijke oplossingen te bouwen. ]]></Value>
    </heroDescriptionText>
    <heroExpertiseText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Web Developer]]></Value>
    </heroExpertiseText>
    <heroHighlightedSkills>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Creatief en oplossingsgericht
Snel lerend, zelfstandig en communicatief
Focust op C#, web development en Umbraco]]></Value>
    </heroHighlightedSkills>
    <heroIntroductionText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Hoi, Mijn naam is]]></Value>
    </heroIntroductionText>
    <heroNameText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[Chris van Tiggelen.]]></Value>
    </heroNameText>
    <logo>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[]]></Value>
    </logo>
    <resume>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[CV]]></Value>
    </resume>
    <uploadResume>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="nl-NL"><![CDATA[/media/owsoxyid/cv-chris-van-tiggelen.pdf]]></Value>
    </uploadResume>
  </Properties>
</Content>