<?xml version="1.0" encoding="utf-8"?>
<Content Key="1730a461-7e1e-41cd-bc35-64975b180870" Alias="Over mij" Level="3">
  <Info>
    <Parent Key="3b8baa01-65ae-495f-ae8a-f44dc2411817">Secties</Parent>
    <Path>/Home/Secties/OverMij</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutMe</ContentType>
    <CreateDate>2026-02-06T19:51:06</CreateDate>
    <NodeName Default="Over mij" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutMePicture>
      <Value><![CDATA[[
  {
    "key": "e9556359-f69b-4140-9ac7-9c97ed447bb8",
    "mediaKey": "8bdde086-6580-4d21-a74b-014d36fd3f16",
    "mediaTypeAlias": "Image",
    "crops": [
      {
        "alias": "square",
        "width": 500,
        "height": 500,
        "coordinates": {
          "x1": 0,
          "y1": 0,
          "x2": 0,
          "y2": 0
        }
      }
    ],
    "focalPoint": null
  }
]]]></Value>
    </aboutMePicture>
    <sectionDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMet een achtergrond in grafisch ontwerp en een passie voor techniek heb ik me ontwikkeld tot een leergierige en doelgerichte web developer. Ik combineer creatief denken met technische kennis om gebruiksvriendelijke en degelijke oplossingen te bouwen. Ik werk graag samen, denk mee en blijf mezelf uitdagen met nieuwe technologie\u00EBn.\u003C/p\u003E"
}]]></Value>
    </sectionDescription>
    <sectionTitle>
      <Value><![CDATA[Over mij]]></Value>
    </sectionTitle>
    <techExperience>
      <Value><![CDATA[C#
ASP.NET Core
SQL
Umbraco
HTML & CSS
Javascript
React
CI / CD]]></Value>
    </techExperience>
  </Properties>
</Content>