<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf9d9f30-146d-4d7b-bf34-57cf9af853c3" Alias="Projects" Level="2">
  <Info>
    <Parent Key="64a4406f-4e69-4edf-8783-e7be14713420">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsOverview</ContentType>
    <CreateDate>2025-12-07T11:52:54</CreateDate>
    <NodeName Default="Projects">
      <Name Culture="en-US">Projects</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="28a86132-719c-41b2-a65f-29d90b4f4144">ProjectsOverview</Template>
  </Info>
  <Properties />
</Content>