<?xml version="1.0" encoding="utf-8"?>
<Content Key="decfed28-fc25-4fc1-951e-2a1acb185286" Alias="Projecten" Level="3">
  <Info>
    <Parent Key="3b8baa01-65ae-495f-ae8a-f44dc2411817">Secties</Parent>
    <Path>/Home/Secties/Projecten</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2026-02-05T21:27:39</CreateDate>
    <NodeName Default="Projecten">
      <Name Culture="nl-NL">Projecten</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <projectList>
      <Value Culture="nl-NL"><![CDATA[]]></Value>
    </projectList>
  </Properties>
</Content>