<?xml version="1.0" encoding="utf-8"?>
<Content Key="decfed28-fc25-4fc1-951e-2a1acb185286" Alias="Projecten" Level="3">
  <Info>
    <Parent Key="3b8baa01-65ae-495f-ae8a-f44dc2411817">Secties</Parent>
    <Path>/Home/Secties/Projecten</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2026-02-05T21:27:39</CreateDate>
    <NodeName Default="Projecten">
      <Name Culture="nl-NL">Projecten</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <projectList>
      <Value Culture="nl-NL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0e66c6a6-027c-402c-a643-30bf60d1b62c",
      "key": "ba684bd1-b146-4ff2-a49b-1890ad51da84",
      "values": [
        {
          "alias": "projectName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Portfolio in Umbraco"
        },
        {
          "alias": "highlightedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Uitgelicht project"
        },
        {
          "alias": "githubLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://github.com/chrisvt1209/Portfolio"
        },
        {
          "alias": "tags",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "C#\nUmbraco CMS\n.NET Core\nJavascript\nCSS"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "projectDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEen persoonlijke website waarin cv, projecten en contactmomenten als een rustige doorlopende leeservaring samenkomen.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0e66c6a6-027c-402c-a643-30bf60d1b62c",
      "key": "e0e12bef-43b2-4bf7-af27-1c977e7ae3e7",
      "values": [
        {
          "alias": "highlightedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Stage opdracht"
        },
        {
          "alias": "projectName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "CO\u2082-uitstoot inzichtelijk maken"
        },
        {
          "alias": "projectDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEen onderzoek naar CO\u2082-uitstoot van taxi\u0027s via eigen verbruiksberekeningen en RDW-data waaruit twee Proof of Concepts zijn ontstaan voor dataverwerking en visualisatie.\u003C/p\u003E"
          }
        },
        {
          "alias": "tags",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Microservices\n.NET Core\ngRPC\nEntity Framework"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0e66c6a6-027c-402c-a643-30bf60d1b62c",
      "key": "15dbe250-b659-4de1-9a2f-077927d6cd54",
      "values": [
        {
          "alias": "projectName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Webportaal MB-Ontdekt"
        },
        {
          "alias": "projectDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEen webportaal voor het weergeven van data van meetstations met betrekking tot luchtkwaliteit.\u003C/p\u003E"
          }
        },
        {
          "alias": "highlightedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Groepsproject studie"
        },
        {
          "alias": "tags",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Java Spring Boot\nReact JS\nDocker"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0e66c6a6-027c-402c-a643-30bf60d1b62c",
      "key": "977e60c0-3076-47b1-a095-30da9d63c2d3",
      "values": [
        {
          "alias": "projectName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Smoelenboek Indicia"
        },
        {
          "alias": "projectDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEen interne webapplicatie voor HR waarin medewerkers en hun contactgegevens eenvoudig geregistreerd konden worden en waar medewerkers elkaar konden vinden.\u003C/p\u003E"
          }
        },
        {
          "alias": "highlightedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Groepsproject studie"
        },
        {
          "alias": "tags",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ASP.NET Core\nMVC\nSQL"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ba684bd1-b146-4ff2-a49b-1890ad51da84",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e0e12bef-43b2-4bf7-af27-1c977e7ae3e7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "15dbe250-b659-4de1-9a2f-077927d6cd54",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "977e60c0-3076-47b1-a095-30da9d63c2d3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ba684bd1-b146-4ff2-a49b-1890ad51da84",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e0e12bef-43b2-4bf7-af27-1c977e7ae3e7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "15dbe250-b659-4de1-9a2f-077927d6cd54",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "977e60c0-3076-47b1-a095-30da9d63c2d3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectList>
    <projectsExtraTitle>
      <Value Culture="nl-NL"><![CDATA[Meer projecten]]></Value>
    </projectsExtraTitle>
    <sectionDescription>
      <Value Culture="nl-NL"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EHier komen mijn projecten te staan.\u003C/p\u003E"
}]]></Value>
    </sectionDescription>
    <sectionSubTitle>
      <Value Culture="nl-NL"><![CDATA[De projecten waar ik trots op ben]]></Value>
    </sectionSubTitle>
    <sectionTitle>
      <Value Culture="nl-NL"><![CDATA[Projecten]]></Value>
    </sectionTitle>
  </Properties>
</Content>