<?xml version="1.0" encoding="utf-8"?>
<Content Key="decfed28-fc25-4fc1-951e-2a1acb185286" Alias="Projecten" Level="3">
  <Info>
    <Parent Key="3b8baa01-65ae-495f-ae8a-f44dc2411817">Secties</Parent>
    <Path>/Home/Secties/Projecten</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2026-02-05T21:27:39</CreateDate>
    <NodeName Default="Projecten">
      <Name Culture="nl-NL">Projecten</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <projectList>
      <Value Culture="nl-NL"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0e66c6a6-027c-402c-a643-30bf60d1b62c",
      "key": "ba684bd1-b146-4ff2-a49b-1890ad51da84",
      "udi": null,
      "values": [
        {
          "alias": "projectName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Portfolio Website"
        },
        {
          "alias": "highlightedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Gehighlight project"
        },
        {
          "alias": "githubLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://github.com/chrisvt1209/Portfolio"
        },
        {
          "alias": "tags",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "C#\nUmbraco CMS\n.NET Core\nJavascript\nSASS"
        },
        {
          "alias": "isHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ba684bd1-b146-4ff2-a49b-1890ad51da84",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ba684bd1-b146-4ff2-a49b-1890ad51da84",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectList>
    <sectionDescription>
      <Value Culture="nl-NL"><![CDATA[]]></Value>
    </sectionDescription>
    <sectionTitle>
      <Value Culture="nl-NL"><![CDATA[Projecten]]></Value>
    </sectionTitle>
  </Properties>
</Content>