<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b8baa01-65ae-495f-ae8a-f44dc2411817" Alias="Secties" Level="2">
  <Info>
    <Parent Key="ede5ad7c-383d-4ce2-867c-98b90024fd06">Home</Parent>
    <Path>/Home/Secties</Path>
    <Trashed>false</Trashed>
    <ContentType>sections</ContentType>
    <CreateDate>2026-02-05T21:27:13</CreateDate>
    <NodeName Default="Secties">
      <Name Culture="nl-NL">Secties</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-NL">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>